.user_container {

}
.user_container > div {
    padding: 50px 50px;
}
.user_info_block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.avatar {
    width: 300px;
    border-radius: 50%;
}
